//--- Variables used in core (and available on project) ---

// Breakpoints
$breakpoints-mobile: 425px;
$breakpoints-tablet: 768px;
$breakpoints-laptop: 1024px;
$breakpoints-desktop: 1440px;

// Grid
$size-container: 1440px;
$grid-gutter: 1%;
