.btn {
	padding: 0 20px;
	border: none;
	color: $white;
	text-align: center;
	cursor: pointer;
	background-color: $grey3;
	border-radius: 2px;
	height: 33px;
	font-size: 18px;
	font-weight: $fontWeightMedium;
	transition: background-color .1s ease-in-out;

	&:hover {
		background-color: $grey2;
	}

	// TODO: The hovers seems non-consistent
	&--success {
		background-color: $green;
		&:hover {
			background-color: $darkGreen;
		}
	}
	&--danger {
		background-color: $red;
		&:hover {
			background-color: $darkRed;
		}
	}
	&--primary {
		background-color: $blue;
		&:hover {
			background-color: $darkBlue;
		}
	}
	&:disabled{
		cursor: default;
		background-color: $grey3;
		&:hover {
			background-color: $grey3;
		}
	}
}
