// WEIGHT;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Fonts declaration
@font-face {
	font-family: quote(Roboto);
	font-style: normal;
	font-weight: 400;
	src: local(quote(Roboto)), local(quote(Roboto-Regular)),
	url("#{$path-fonts}/roboto-v18-latin-regular.woff2") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$path-fonts}roboto-v18-latin-regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
$fontRobotoRegular: 'Roboto', sans-serif;
