// WEIGHT;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Fonts declaration
//@font-face {
//  font-family: quote(Montserrat);
//  font-style: normal;
//  font-weight: 400;
//  src: local(quote(Montserrat Regular)), local(quote(Montserrat-Regular)),
//    url("#{$path-fonts}Montserrat/montserrat-v12-latin-regular.woff2") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//    url("#{$path-fonts}Montserrat/montserrat-v12-latin-regular.woff") format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//}
//$fonts-montserrat: 'Montserrat', sans-serif;
